

<link rel="stylesheet" href="assets/css/style.css">
<div id="cv" class="instaFade">
    <div class="mainDetails">
        <div id="headshot" class="quickFade">
            <img src = {{image}} height="100" width="100" > </img>
        </div>

        <div id="name">
            <h1 class="quickFade delayTwo">Kasun Kavinda</h1>

        </div>


        <div class="clear"></div>
    </div>



    <div id="mainArea" class="quickFade delayFive">
        <section>
            <article>
                <div class="sectionTitle">
                    <h1>Personal Profile</h1>
                </div>

                <div class="sectionContent">
                    <h4> <li>First Name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  : Kasun </li></h4>
                    <h4><li>Last Name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp      : Kavinda </li></h4>
                    <h4><li>UserName&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       : Kasun Kavinda </li></h4>
                    <h4> <li>Country&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp          : Sri Lanka</li></h4>
                    <h4><li>Gender&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp        : Male </li></h4>
                    <h4><li>E-Mail&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       : kasunkavinda.bc@gmail.com </li></h4>
                    <h4> <li>Phone &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       : 0716393873 </li></h4>

                </div>
            </article>
            <div class="clear"></div>
        </section>


        <section>

            <div class="sectionTitle">
                <h1>Academic Qualifications</h1>
            </div>

            <div class="sectionContent">

                <section class="sec-padding">
                    <div class="container">
                        <div class="row">
                            <div class="domain-pricing-table-holder">
                                <table class="table-style-2">
                                    <thead>
                                    <tr>


                                        <th>Exam Type</th>

                                        <th>O/L Subjects</th>
                                        <th>A/L Subjects</th>
                                        <th>Medium</th>
                                        <th>Result</th>
                                        <!--<th>Action</th>-->
                                    </tr>
                                    </thead>

                                    <tbody>


                                    <tr ng-repeat="core in cores">


                                        <td>Ordinary Level</td>

                                        <td>Maths</td>
                                        <td></td>
                                        <td>Sinhala</td>
                                        <td>A</td>
                                        <!--<td>
                                            <input type="button" value="Remove" class="btn btn-primary class btn btn-green-4 btn-round pull-right" ng-click="removeAcademic(core.type)" />
                                        </td>-->
                                    </tr>
                                    </tbody>
                                    <tbody>


                                    <tr ng-repeat="core in cores">


                                        <td>Advanced Level</td>

                                        <td>Maths</td>
                                        <td></td>
                                        <td>Sinhala</td>
                                        <td>A</td>
                                        <!--<td>
                                            <input type="button" value="Remove" class="btn btn-primary class btn btn-green-4 btn-round pull-right" ng-click="removeAcademic(core.type)" />
                                        </td>-->
                                    </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </section>




            </div>
            <div class="clear"></div>
        </section>





        <section>
            <div class="sectionTitle">
                <h1>Technical Skills</h1>
            </div>

            <div class="sectionContent">



                <section class="sec-padding">
                    <div class="container">
                        <div class="domain-pricing-table-holder">





                            <table class="table-style-2">
                                <thead>

                                <tr>
                                    <th>Skill Name</th>
                                    <th>Skill Level</th>
                                    <!--<th>Action</th>-->

                                </tr>

                                </thead>

                                <tbody>

                                <tr ng-repeat="skill in skills">

                                    <td>AngularJs</td>
                                    <td>Intermediate</td>


                                    <!--<td>
                                        <input type="button" value="Remove" class="btn btn-primary btn btn-green-4 btn-round pull-right" ng-click="removeSkill(skill.skillName)" />
                                    </td>
    -->

                                </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </section>









            </div>
            <div class="clear"></div>
        </section>
        <br/><br/><br/>

        <div class="text-center">
            <button type="submit" class="button btn-primary" ng-click="pdf()" >Generate PDF</button>
            <button type="button" class="btn btn-primary" ng-click="goFirst()">Logout</button>
        </div>



        <br/><br/><br/><br/><br/><br/><br/><br/>


    </div>
</div>





